/* client slider css  */
.slider-track {
  @apply flex h-[100px];
}
@media (min-width: 640px) {
  .slider-track {
    animation: slide 20s linear infinite;
    width: calc(3500%);
  }
}
@media (min-width: 1024px) {
  .slider-track {
    animation: slide 35s linear infinite;
    width: calc(900%);
  }
}
/* .slider-track-small {
    display: flex;
    animation: slide 20s linear infinite;
    height: 100px;
    width: calc(3500%);
  }
.slider-track-large {
    display: flex;
    animation: slide 35s linear infinite;
    height: 100px;
    width: calc(900%);
  }
.slider-track {
    display: flex;
    animation: slide 35s linear infinite;
    height: 100px;
    width: calc(900%);
  } */
  
  .slider-item {
    flex: 0 0 auto;
    padding: 0 15px; /* Optional spacing between items */
  }
  
  .slider-item img {
    height: 100%; /* Ensure images fit within the container */
    width: auto; /*Maintain aspect ratio */
    object-fit: cover;
  }
  
  @keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Move by half of the duplicated track width */
    }
  }
